body {
    animation: changeBackground 30s infinite;
    background-image: url('images/bac11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 100vh;
}

@keyframes changeBackground {
    0% {
        background-image: url('images/bac11.jpg');
    }
    25% {
        background-image: url('images/bac12.jpg');
    }
    50% {
        background-image: url('images/bac13.jpg');
    }
    75% {
        background-image: url('images/bac14.jpg');
    }
    100% {
        background-image: url('images/bac15.jpg');
    }
}

.task-block {
    background-color: #e2e8f0;
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 20px;
}

.createTaskCard {
    background-color: #1a202c;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 20px;
}


.card {
    width: 100%;
}


/*.row {*/
/*    margin-top: 50px;*/
/*}*/


.buttonOnShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.buttonOnShow a.btn {
    margin-right: 10px; /* Добавляем отступ между кнопками */
}

.buttonOnShow button.btn {
    margin-left: 10px; /* Добавляем отступ между кнопками */
    min-width: 120px; /* Задаем минимальную ширину кнопки */
}

/*.col-sm-3 {*/
/*    display: flex;*/
/*    align-items: stretch;*/
/*}*/

/*.card mb-4 {*/
/*    height: 100px;*/
/*    flex: 1;*/
/*}*/

.styleTextOnMain {
    color: #e2e8f0;
}

.image-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.image-wrapper img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}

/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.row > div {*/
/*    flex-basis: 100%;*/
/*    margin-bottom: 20px;*/
/*}*/

@media (min-width: 576px) {
    .row > div {
        flex-basis: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .row > div {
        flex-basis: calc(33.33% - 20px);
    }
}

/*.equal-cols {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}



.animated-heading {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: animateHeading 4s ease-in-out;
    animation-fill-mode: forwards;
}

.animated-heading:hover {
    color: white;
    box-shadow: 0 0 0 4px white;
    transition: box-shadow 0.3s ease-in-out;
}

@keyframes animateHeading {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.lk-place {
    background-color: #f8f9fa;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.user-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.user-info li {
    margin-bottom: 10px;
}

ul.user-info li strong {
    font-weight: bold;
}

ul.user-info li:before {
    content: "•";
    color: #ff0000;
    margin-right: 5px;
}

.errorCreateForm {
    color: red;
}

@media (max-width: 768px) {
    .styleTextOnMain {
        text-align: center;
    }

    .animated-heading {
        font-size: 50px; /* Изменяем размер шрифта для мобильных устройств */
        position: relative;
        margin-top: 50px;
        opacity: 0;
        animation: animateHeading 4s ease-in-out;
        animation-fill-mode: forwards;
    }

    /* Удаление :hover стилей, если они не требуются на мобильных устройствах */

    @keyframes animateHeading {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        20%, 80% {
            opacity: 1;
        }
        100% {
            transform: translateY(-50%);
            opacity: 1;
        }
    }
}

@media (max-width: 480px) {
    .mobile-heading {
        font-size: 40px;
        max-width: 100%;
        padding: 0 10px; /* Пример значения отступов */
    }
}



/* Стили для тего  */

.tag-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #4a5568;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag:hover {
    background-color: #5a6b7a;
}

.tag-description {
    position: absolute;
    top: 0;
    left: 100%;
    width: auto;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: normal;
}

.tag-container:hover .tag-description {
    opacity: 1;
    visibility: visible;
}

.backGr {
    background-color: #5a6b7a;
    padding: 30px;
}
