body {
    animation: changeBackground 30s infinite;
    background-image: url('images/bac11.jpg');
    background-size: cover;
}

@keyframes changeBackground {
    0% {
        background-image: url('images/bac11.jpg');
    }
    25% {
        background-image: url('images/bac12.jpg');
    }
    50% {
        background-image: url('images/bac13.jpg');
    }
    75% {
        background-image: url('images/bac14.jpg');
    }
    100% {
        background-image: url('images/bac15.jpg');
    }
}

.task-block {
    background-color: #e2e8f0;
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 20px;
}

.createTaskCard {
    background-color: #1a202c;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 20px;
}

.row {
    margin-top: 50px;
}


.buttonOnShow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.col-sm-3 {
    display: flex;
    align-items: stretch;
}

.card mb-4 {
    height: 100px;
    flex: 1;
}

.styleTextOnMain {
    color: #e2e8f0;
}

.image-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.image-wrapper img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row > div {
    flex-basis: 100%;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .row > div {
        flex-basis: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .row > div {
        flex-basis: calc(33.33% - 20px);
    }
}

.equal-cols {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.animated-heading {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: animateHeading 4s ease-in-out;
    animation-fill-mode: forwards;
}

.animated-heading:hover {
    color: white;
    box-shadow: 0 0 0 4px white;
    transition: box-shadow 0.3s ease-in-out;
}

@keyframes animateHeading {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}




